*.aux
*.qmlc
*.val.lock
*.vit.bak
*~
.directory
__pycache__
du.log

MANIFEST
build/
dist/
doc/sphinx/build/
doc/sphinx/source/api/

Patro/QtApplication/rcc/PatroRessource.py
Patro/QtApplication/rcc/patro.rcc

Patro/QtApplication/rcc/icons/36x36/add-black.png
Patro/QtApplication/rcc/icons/36x36/close-black.png
Patro/QtApplication/rcc/icons/36x36/delete-black.png
Patro/QtApplication/rcc/icons/36x36/search-black.png

examples/patterns/demo-custom-seam-allowance.details.png
examples/patterns/demo-custom-seam-allowance.draw.png
examples/patterns/detail-demo1.details.png
examples/patterns/detail-demo1.draw.png
examples/patterns/flat-city-trouser.draw.png
examples/patterns/layout-demo.details.png
examples/patterns/layout-demo.draw.png
examples/patterns/operations-demo.draw-1.png
examples/patterns/operations-demo.draw-2.png
examples/patterns/operations-demo.draw.png
examples/patterns/path-bezier.draw.png

examples/output/
output/

examples/dxf/protection-circulaire-seul-v1.dxf
examples/dxf/protection-circulaire.dxf
examples/dxf/protection-rectangulaire-v1.dxf
examples/dxf/protection-rectangulaire-v2.dxf
examples/dxf/test-dxf-r15.pdf
tmp.py

Patro/GraphicEngine/TeX/__MERGE_MUSICA__
Patro/Pattern/dev/
Patro/QtApplication/rcc/icons/36x36-unused/
devel-experimentations/
doc/sphinx/source/features-all.txt
examples/output-2017/
examples/output-old/
examples/patterns/backup/
examples/patterns/layout/
examples/patterns/veravenus-little-bias-dress.pattern-a0.pdf
examples/patterns/veravenus-little-bias-dress.pattern-a0.svg
notes.txt
notes/
open-doc.sh
outdated.txt
ressources
tools/upload-www
trash/
