*.aux
*.val.lock
*~
__pycache__
*.qmlc

MANIFEST
auto/
build/
dist/
doc/sphinx/build
doc/sphinx/source/api/

Valentina/Geometry/reference.txt
du.log
examples/output-old/
examples/output/
examples/patterns/backup/
examples/patterns/layout/
notes/
old-todo.txt
todo.txt
tools/upload-www
trash/

Patro/GraphicEngine/TeX/__MERGE_MUSICA__
examples/output-2017/
examples/patterns/veravenus-little-bias-dress.pattern-a0.pdf
examples/patterns/veravenus-little-bias-dress.pattern-a0.svg
notes.txt
open-doc.sh
outdated.txt
ressources
src/
